.juego-container {
  text-align: center;
  margin-top: 40px;
}

.juego-intento-letra {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px;
  color: white;
  line-height: 30px;
}

.green {
  background: green;
}

.orange {
  background: orange;
}

.gray {
  background: gray;
}
