body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #333;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

input {
  padding: 8px;
  font-size: 18px;
  text-transform: uppercase;
  margin: 10px;
}

nav {
  background-color: #ddd;
  padding: 10px;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

span {
  border-radius: 4px;
  font-weight: bold;
}
